<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Course Form</title>
</head>
<body>
<form class="form-horizontal" action="#" th:action="@{/process}" th:object="${toDoList}" method="post">
    <div class="form-group">
        <input type="hidden" th:field="*{id}" />
        <label class="control-label col-sm-1" for="task">Task :</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="task" placeholder="Enter Task" th:field="*{task}" />
            <span th:if="${#fields.hasErrors('task')}"
                  th:errors="*{task}"></span><br />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-1" for="duedate">Due Date:</label>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="duedate" name="dueDate" placeholder="Enter Due-Date" th:field="*{dueDate}"/>
            <span th:if="${#fields.hasErrors('dueDate')}"
                  th:errors="*{dueDate}"></span><br />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-1" for="credit">Priority :</label>
        <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" value="High" id="credit" th:field="*{priority}" checked>High</label> &nbsp;
            <label class="radio-inline"><input type="radio" value="Medium"  th:field="*{priority}">Medium</label> &nbsp;
            <label class="radio-inline"><input type="radio" value="Low"  th:field="*{priority}">Low</label> &nbsp;
            <span th:if="${#fields.hasErrors('priority')}"
                  th:errors="*{priority}"></span><br />
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</body>
</html>